package view

templ ProductDetail() {
    <p class="text-3xl font-nino font-bold text-left pb-[30px]">
        <span class="text-3xl font-bold text-left text-primary">დეტალური გვერდი</span>
        <span class="text-3xl font-bold text-left text-black"> </span>
    </p>
}