package view

templ Products() {
    <p class="text-3xl font-nino font-bold text-left pb-[30px]">
        <span class="text-3xl font-bold text-left text-primary">მოძებნე</span>
        <span class="text-3xl font-bold text-left text-black"> პროდუქტი</span>
    </p>
}