package view

templ Products() {
    <p class="w-full pb-[30px]">
        <span class="text-3xl font-nino font-bold text-primary">მოძებნე</span>
        <span class="text-3xl font-nino font-bold text-primary"> პროდუქტი</span>
    </p>
}