package view

templ Layout() {
    <!DOCTYPE html>
    <html lang="geo">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="assets/scripts/reload.js"></script>
        <script src="assets/scripts/htmx.min.js"></script>
        <link href="assets/styles/style.css" rel="stylesheet" />
        <title>Gotth-core</title>
    </head>
    <body>
        {children...}
    </body>
    </html>
}