# Development dirs
bin
tmp
dist
node_modules

.vscode
.env
*_templ.txt
*_templ.go

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.db

# Test binary, built with `go test -c`
*.test

# Go workspace file
go.work
routes.json