package view

import(
    "main/server/model"
)

script Redirect(url string) {
    location.replace(url)
}

templ NewsDetails(News model.News) {
    if News.Url != "" { 
        @Redirect(News.Url)
    }
    
    <p class="w-full mb-[2vh]">
        <span class="text-3xl font-nino font-bold text-black"> { News.Title } </span>
    </p>
    <p class="w-full font-arial">
        @templ.Raw(News.Body)
    </p>
}