package view

import(
    "main/server/model"
)

templ Landing(Interface model.Interface) {
  <div class="w-full flex flex-col gap-[30px] justify-between align-start">
    @Slideshow(Interface)
    @Reasons(Interface)
    @Map(Interface)
    @Subscribe()
    @NewsFeed(Interface)
  </div>
}