package view

type TableConfigHead struct {
    Templ templ.Component
}

var TableHeadDefault TableConfigHead = TableConfigHead{
    Templ: TableHeadDefaultTempl(),
}

templ TableHeadDefaultTempl() {
    <tr> <td class="p-6 text-white font-bold "> სახელი </td> </tr>
}

templ TableHead(config TableConfig) {
    <thead class="bg-primary dark:primary">
        @config.Head.Templ
    </thead>
}