@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('fonts.css');
@import url('animations.css');
@import url('animate.compat.css');

@layer utilities {
    .htmx-request  {
        display: flex !important;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .no-scrollbar-x {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .no-scrollbar-y {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .auto-scroll-catalog {
        animation: autoScrollCatalog 26s infinite;
    }

    .shadower {
        transition-duration: 200ms;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    
    .shadower:hover {
        box-shadow: rgba(13, 38, 76, 0.19) 0px 9px 20px;
    }

    .shadow-mondegreen:hover {
        box-shadow: 5px 5px #008772, 
                    10px 10px #0087724d, 
                    15px 15px #00877233, 
                    20px 20px #0087721a, 
                    25px 25px #0087720d;
        transition: all 1s;
    }

}