package view

import(
    "main/server/model"
)

templ About(About model.Interface_about) {
    <div class="w-full">
        <p class="text-3xl font-nino font-bold text-left pb-[30px]">
            <span class="text-3xl font-bold text-left text-primary">ჩვენს</span>
            <span class="text-3xl font-bold text-left text-black"> შესახებ</span>
        </p>
        <p class="text-base text-left text-black">
            @templ.Raw(About.Body)
        </p>
    </div>
}