package view

import(
    "main/server/model"
)

templ About(About model.Interface_about) {
    <div class="w-full">
        <p class="w-full pb-[30px]">
            <span class="text-3xl font-nino font-bold text-primary">ჩვენს</span>
            <span class="text-3xl font-nino font-bold text-primary"> შესახებ</span>
        </p>
        <p class="text-black font-arial">
            @templ.Raw(About.Body)
        </p>
    </div>
}