package view

templ Terms(Terms string){
    <div class="w-full">
        <p class="w-full">
            <span class="text-3xl font-nino font-bold text-primary">წესები და </span>
            <span class="text-3xl font-nino font-bold text-primary"> პირობები</span>
        </p>

        <p class="text-base text-left text-black py-[4vh]">
            { Terms }
        </p>
    </div>
}