package view

templ Terms(Terms string){
    <p class="text-3xl font-nino font-bold text-left pb-[20px]">
        <span class="text-3xl font-bold text-left text-primary">ჩვენს</span>
        <span class="text-3xl font-bold text-left text-black"> შესახებ</span>
    </p>
    
    <p class="text-base text-left text-black">
        { Terms }
    </p>
}