package view

templ Content(Page templ.Component) {
    <div id="Content" class="w-[100%] flex-grow px-[150px] py-[40px] min-h-screen  mob:px-[50px] mob:min-w-screen">
        @Page
    </div>
    @Loading()
}